<h3>Edit my horrible description:</h3>

<p>

<%= form_tag posts_url %>

<%= label_tag "title", "Title" %>
<%= text_field_tag "title", @post.title %>
<br>
<%= label_tag "description", "Description" %>
<%= text_field_tag "description", @post.description %>
<br>
<%= label_tag "year", "Year Released:" %>
<%= text_field_tag "year", @post.year %>
<br>
<%= submit_tag "Submit!" %>

</p>
